*{
  box-sizing: border-box;
}
html {
  font-size: 24px
}
header{
  width: 75vw;
  margin: 25px auto;

}
main{
  width: 75vw;
  margin: 25px auto;
  display: flow-root;
}
.col {
  width: 50%;
  float: left;
}
h1{
  font-family: 'Monoton', cursive;
  font-size: 5rem;
}
h2{
  font-family: 'Monoton', cursive;
}
body{
  background-color: lavender;
  margin: 8;
}
a:link, a:visited {
  color: black;
}
a:hover a:active{
  color:yellow;
}
li {
  font-size: 2rem;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
}
ul li {
   font-size: 1rem;
   list-style-type: none;
   margin: 0;
   padding: 0;
}
img{
  max-width: 100%;
}

@media screen and (max-width: 850px) {
  .col{
    width: 100%;
    margin-bottom: 25px;
  }
  header{
    width: 90px;
  }
  main{
    width: 100px;
  }
  h1{
    font-size: 3rem;
  }
}
