html {
  font-size: 24px
}
body{
  background-color: LightSeaGreen;
  margin: 5;

}
h1{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 5rem;
}
h2{
  color: white;
  font-size: 3rem;
}
a:link, a:visited {
  color: #B22222;
}
p{
  color: white;
}
