html {
  font-size: 24px
}
body{
  background-color: LightSeaGreen;
  margin-top: 70px;
  margin-left: 60px;
}
h1{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 5rem;
}
h2{
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 3rem;
}
a:link, a:visited{
  color: DarkSlateGray;
  text-decoration: none;
}
a:hover, a:active {
  color: #B22222;
}
p{
  color: whiteSmoke;
  font-family: Georgia, serif;
  font-size: 36px;
  text-align: left;
}
